body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#input_id
{
    width: 400px;
}

canvas
{
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px red;
}